<!--el _formulario es para indicar que solo usaremos el codigo no la vista-->
<!--ponemos parentesis para poner clases dentro delinput o etiqueta() lo hacemos como si fuera una funcion-->

{{formulario.nombre.label}}{{formulario.nombre(class="form-control mb-3")}}

{{formulario.precio.label}}{{formulario.precio(class="form-control mb-3")}}

{{formulario.categoria_id.label}}{{formulario.categoria_id(class="form-control mb-3")}}
<!-- input para subir archivos -->
{{formulario.archivo.label}}{{formulario.archivo(class="form-control mb-3")}}
