
{% extends 'layout/base.html'%}
<!-- importamos nuestra plantilla base con extends y el block con el nombre contenido donde pondremos nuestro contenido el nombre es -->
<!--el modulo es el blueprint a que indicamos ese el modulo de la funcion-->
{% block contenido%}
<a class="btn btn-primary btn-ms" href="{{url_for('producto.Inicio')}}">Regresar</a>
<br/>
<div class="container">
<h2>Crear Producto</h2>
<br/>
<form action="{{url_for('producto.Crear')}}" method='POST'>
<!--usamos wtform para hacer el formjlario nombre es el nombre que de dimos label es la etiquetea sin ella es un input-->
{% include 'layout/_formulario.html' %}
<!--include es diferente a extendes include incñuye el codigo que tenemos ahi como un bloque de codigo-->

<input  class="btn btn-success" type="submit" value="Enviar"> 
<!-- para que nos cree el token y tenga seguridad desativasmos el meta=csrf productos -->
{{formulario.csrf_token}}
</form>
</div>
<!--
<label for="nombre" >Nombre</label>
<input type="text" name="nombre" id="nombre">
<label for="precio" >Precio</label>
<input type="text" name="precio" id="precio">

-->




{%endblock%}