
{% extends 'layout/base.html'%}
<!-- importamos nuestra plantilla base con extends y el block con el nombre contenido donde pondremos nuestro contenido el nombre es -->
<!--el modulo es el blueprint a que indicamos ese el modulo de la funcion-->
{% block contenido%}
<a class="btn btn-primary btn-ms" href="{{url_for('producto.Inicio')}}">Regresar</a>
<br/>
<div class="container">
    <h2 ><i class="fa fa-user fa-x3"></i>Registrar Nuevo</h2>
<form action="{{url_for('Fusuario.RegistroUsuario')}}" method='POST'>
<!--usamos wtform para hacer el formjlario nombre es el nombre que de dimos label es la etiquetea sin ella es un input-->
{% include 'layout/_formularioRegistro.html' %}
<!--include es diferente a extendes include incñuye el codigo que tenemos ahi como un bloque de codigo-->

<input  class="btn btn-success" type="submit" value="Enviar"> 
<!-- para que nos cree el token y tenga seguridad desativasmos el meta=csrf productos -->
<!-- lo puse asi por que no me agarro el form creo que se debe hace con el form en la plantilla base form.csrf_token -->
<!-- debe ponerse el nombre como de diste ala clase en models me marcaba error por eso y solo se usa en los post -->
{{formulario.csrf_token}}


</form>
</div>




{%endblock%}