
{% extends 'layout/base.html'%}
<!-- importamos nuestra plantilla base con extends y el block con el nombre contenido donde pondremos nuestro contenido el nombre es -->
<!--el modulo es el blueprint a que indicamos ese el modulo de la funcion-->
{% block contenido%}
<!--creamos la pagina y usamos la funcon de Actualizar con el modulo de donde esta que es el categoria pero no usamoa la ruta d esta solo la funcion y su codigo para poder actualizar el elemento en la base deda tos-->
<a class="btn btn-primary btn-ms" href="{{url_for('categoria.Inicio')}}">Regresar</a>
<br/>

<form action="{{url_for('categoria.Actualizar',id=categoria.id)}}" method='POST'>
{% include 'layout/_formularioCategoria.html' %}
<input type="submit"  class="btn btn-success" value="Actualizar"> 

<!-- para que nos cree el token y tenga seguridad desativasmos el meta=csrf productos -->
{{formulario.csrf_token}}
</form>



<!--
    
<label for="nombre" >Nombre</label>
<input type="text" name="nombre" id="nombre" value="{{categoria.nombre}}">
<label for="precio" >Precio</label>
<input type="text" name="precio" id="precio" value="{{categoria.precio}}">

-->
{%endblock%}